__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
venv/
.env/
env/
*.ipynb_checkpoints/
notebooks/*.ipynb_checkpoints/
*.ipynb.output
data/complaints.csv
data/*.csv
!data/complaints_cleaned.csv
data/word_count_distribution.png
*.log
.vscode/
.DS_Store
Thumbs.db
*.bak
*.swp
*~